*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
.firstcont{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    margin-top: 50px;
    align-items: center;
}
.paris{
    text-align: center;
    font-size: 35px;
    color: brown;
}
.lowerpartelement{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    border: 3px solid orange;
    display: flex;
    flex-flow: column;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    height: 350px;
    font-size: 22px;
    position: relative;
}
.hrid{
    position: absolute;
    right: 0;
    top: 17%;
}
.buttonl{
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: gold;
    cursor: pointer;
    transform: translateX(350px) translateY(150px) ;
}
.buttonl:hover{
    border-radius: 50%;
    background-color: aqua;
    width: 40px;
    height: 40px;
    border: none;
    
}