*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
.blur{
    filter: blur(6px);
}
.contain{
    margin: auto;
    width: 40%;
    height: 150px;
    border: 3px solid orange;
    display: flex;
    flex-flow: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    font-size: 22px;
    transform: translateY(-400px);
    background-color: antiquewhite;
}
.firstcont{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    margin-top: 50px;
    align-items: center;
}
.paris{
    text-align: center;
    font-size: 35px;
    color: brown;
}
.lowerpartelement{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    border: 3px solid orange;
    display: flex;
    flex-flow: column;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    height: 350px;
    font-size: 22px;
    position: relative;
}
.hrid{
    position: absolute;
    right: 0;
    top: 17%;
}
#buton{
    margin: auto;
    width: 16%;
    height: 40px;
    border-radius: 20px;
    background-color: aqua;
    border: 2px solid red;
    cursor: pointer;
}